
  <b>Rate Breakdown</b>
  <table>
      <% subtotal = 0 %>
      <% (res_item.start_date...res_item.end_date).each do |date| %>
        <tr>
          <% rate = rate_helper(rental_type, date) %>
          <% subtotal = subtotal + rate %>
          <td><%= date.strftime("%a, %b %d, %Y") %></td>
          <td><%= "$#{sprintf('%.2f', rate)}" %></td>
        </tr>
      <% end %>  
  </table>

 
 
  <table>
    <tr>
      <% if rental_type.category == "Cabin" %>
        <td>Ave. Nightly Rate: </td>
      <% elsif rental_type.category == "Boat" %>
        <td>Ave. Daily Rate: </td>
      <% elsif rental_type.category == "Boat Slip" %>
        <td>Ave. Monthly Rate: </td>
      <% end %> 
      
      <% ave = subtotal/res_item.num_of_days %>
      <td>$<%= "#{sprintf('%.2f', ave)}" %></td>
    </tr>

    <tr>
      <td>Subtotal:</td>
      <td>$<%= "#{sprintf('%.2f', subtotal)}" %></td>
    </tr>
    <tr>
      <td>Tax (17.25%)</td>
      <% tax = subtotal * 0.1725 %>
      <td style="text-align:right">$<%= "#{sprintf('%.2f', tax)}" %></td>
    </tr>
    <tr>
      <td><b>Total</b></td>
      <% total = tax + subtotal %>
      <td><b>$<%= "#{sprintf('%.2f', total)}" %></b></td>
    </tr>
  </table>
