<div style="margin:20px 20px 20px 280px; padding:30px" class="box"> 

<% if category == "Cabin" %>

  <h3 class="header-box">Nickajack Resort Cabin Rentals</h3>
  <table class="table">
    <tr>
      <td>
        <%= image_tag("3bdrmlandcabin.jpg", class: "pull-left", width: "250") %>
      </td>
      <td style="padding-left:30px">
          <h4 class="header-box">Land Cabins</h4>
          Nickajack Marina and Resorts have one, two and three bedroom land cabins to accommodate your stay. 
          Each have beautiful views of the lake and marina, full kitchens, cable TV, fireplace and more amenities.
          <b>Our largest land cabins can accommodate up to 10 guests.</b> Rent multiple cabins to house your reunion or party.
          <br><br>
      </td>
    </tr>  
    <tr>
      <td>
        <%= image_tag("floatingcabins5.jpg", class: "pull-left", width: "250") %>
      </td>
      <td style="padding-left:30px">
          <h4 class="header-box">Floating Cabins</h4>
          If you prefer to be closer to the water, stay in one of our one or two bedroom floating cabins. 
          Dock you own or rented boat right next to your accommodations.
          <b>Our largest floating cabins can accommodate up to 6 guests.</b> Rent multiple cabins to accommodate your boating vacation.
      </td>
    </tr> 
  </table> 
  
<% elsif category == "Boat" %>

  <h3 class="header-box">Nickajack Marina Boat Rentals</h3>
  <table class="table">
    <tr>
      <td>
        <%= image_tag("deckboat.jpg", class: "pull-left", width: "250") %>
      </td>
      <td style="padding-left:30px">
          <h4 class="header-box">Deck Boats</h4>
           Take the entire gang out for some celebratory festivities, or simply bring rod and reel for your 
           chance to lure in some catches of the day. The plush, cushioned seating surrounding the deck, 
           the tall canopy top to keep out the sun, and the roaring engine are just a few amenities that 
           come with our deck boat rentals.<br><br>
      </td>
    </tr>  
    <tr>
      <td>
        <%= image_tag("pontoon.jpg", class: "pull-left", width: "250") %>
      </td>
      <td style="padding-left:30px">
          <h4 class="header-box">Pontoon Boats</h4>
          Our pontoon boat rentals allow everyone on board to enjoy the sun, waves and fresh air. 
          A pontoon boat is the perfect way to explore the lake on a lazy day or to tube or water 
          ski behind for a high-speed, adrenaline-racing adventure!  The 24-foot Leisure Kraft 
          has room for 10 people, an awning and a 115 hp, 4-stroke engine.<br><br>
      </td>
    </tr> 
    <tr>
      <td>
        <%= image_tag("dbldeckerpontoon.jpg", class: "pull-left", width: "250") %>
      </td>
      <td style="padding-left:30px">
          <h4 class="header-box">Double Decker Pontoon Boats</h4>
          The double-decker pontoon boat rental can hold up to 14 people and also 
          includes an AM/FM/CD player, ski tow bar, and life jackets.
      </td>
    </tr> 
  </table> 


<% end %>

</div>
