

  <p>
    <% if rental_type.category == "Cabin" %>        
        <%= "#{rental_type.num_bedrooms} #{"bedroom".pluralize(rental_type.num_bedrooms)}, " %>
        <%= "#{rental_type.num_baths} #{"bath".pluralize(rental_type.num_baths)}" %><br>
        Max Occupancy: <%= rental_type.max_occupancy %><br>
    <% elsif rental_type.category == "Boat" %>
        Max Occupancy: <%= rental_type.max_occupancy %><br>
    <% elsif rental_type.category == "Boat Slip" %>
        Length: <%= rental_type.length %><br>
        Width: <%= rental_type.width %><br>
        Height: <%= rental_type.height %><br>
    <% end %>
  </p>
    <b>From: </b><%= res_item.start_date.strftime("%a, %b %d, %Y") %><br>
    <% if (rental_type.category == "Cabin") || (rental_type.category == "Boat Slip") %>
      <b>To: </b><%= res_item.end_date.strftime("%a, %b %d, %Y") %><br>
    <% else %>
      <b>No. of days: </b><%=res_item.num_of_days %><br>
    <% end %>
    <%= "#{res_item.adults} #{'adult'.pluralize(res_item.adults)}, " %>
    <%= "#{res_item.children} #{'child'.pluralize(res_item.children)}, " %>
    <%= "#{res_item.pets} #{'pet'.pluralize(res_item.pets)}" %><br>
