<div class="container">

  <%= form_tag "/add_reservation_item" do %>

  <%= render partial: "reservation_summary", locals: { reservation_items: @reservation_items } %>

  <div class="pull-right" style="width:830px; margin:20px;">
  
    <p><%= submit_tag "Add a cabin reservation" %></p>
    <p><%= submit_tag "Add a boat reservation" %></p>
    
    <p><%= submit_tag "Continue" %></p>
  
  </div><!--class pull right-->
    
  <% end %><!--form tag-->
    
</div><!--container-->