<div class="container">

  <%= form_tag "/add_reservation_item" do %>

  <div style="width:700px" class="box">
  
    <p>
      <%= submit_tag "Add a cabin reservation", class:"btn add-button" %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= submit_tag "Add a boat reservation", class:"btn add-button" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= submit_tag "Continue to Guest Details", class:"pull-right btn go-button" %>
    </p> 
    <h4 class="header-box">Reservation Summary</h4>

    <table class="table table-condensed">
      <% @reservation_items.order(:rental_item_id).each do |res_item| %>
        <tr>
          <% rental_type = res_item.rental_item.rental_type %>
          <td style="width:200px">
            <p>
              <%= image_tag rental_type.image_filename, {width: 170} %>
            </p>
            <br>
            <%= button_tag "Details", name: "details_res_item_id", value: res_item.id, class:"btn details-button" %>&nbsp;&nbsp;
          </td>
          <td style="width:200px">
              <p>
              <%= render partial: "reservation_summary", locals: {rental_type: rental_type, res_item: res_item} %>
              </p>
              <%= button_tag "Change", name: "change_res_item_id", value: res_item.id, class:"btn add-button" %>&nbsp;&nbsp;
              <%= button_tag "Cancel", name: "cancel_res_item_id", value: res_item.id, class:"btn add-button" %>
          </td>
          <td style="width:250px">
            <p>
            <%= render partial: "rate_summary", locals: {rental_type: rental_type, res_item: res_item} %>
            </p>
            <br>
          </td>
         </tr>
        
      <% end %><!-- each loop -->
    </table>
    
  </div>  
    
  <% end %><!--form tag-->

</div> 
    
