<div class="container">

  <%= form_tag "/guest_details" do %>

  <div class="pull-left left-box">
    <h4 style="text-align:center" class="header-box">Reservation Summary</h4>
    <hr>
    <% @reservation_items.order(:rental_item_id).each do |res_item| %>
        <% rental_type = res_item.rental_item.rental_type %>

          <b><%= "#{rental_type.subcategory} #{rental_type.category}" %> No. <%= res_item.rental_item.name %></b></br>
          <%= render partial: "reservation_summary", locals: {rental_type: rental_type, res_item: res_item} %>
          <p>
          <%= render partial: "rate_summary", locals: {rental_type: rental_type, res_item: res_item} %>
          </p>
          <%= button_tag "Details", name: "details_res_item_id", value: res_item.id, class:"btn-sm details-button" %>&nbsp;&nbsp;
          <%= button_tag "Change", name: "change_res_item_id", value: res_item.id, class:"btn-sm details-button" %>&nbsp;&nbsp;
          <%= button_tag "Cancel", name: "cancel_res_item_id", value: res_item.id, class:"btn-sm details-button" %>
          <hr>
    <% end %>
  </div>
  
  <div class="box" style="margin-left:300px; font-size:10pt">

    <%= submit_tag "Continue to Review", class:"btn go-button pull-right" %><br><br>
    
    <h3 class="header-box">Guest Details</h3>
    
    <%= error_messages_for @customer, :header_message => nil, class:"error_message" %>
    
    <div style="margin-left:30px;margin-right:50px">
          <div class="form-group <%= @customer.errors[:title] != [] && "has-error" %>" style="width:100px">
            <%= label_tag :title, "Title #{@customer.errors[:title].join(", ")}", class: "control-label" %>
            <%= select_tag "title", options_for_select(["Ms.", "Mr.", "Mrs.", "Dr."], @customer.title), prompt: "Title", class: "form-control" %>
          </div>
        <div class="form-inline">
          <div class="form-group <%= @customer.errors[:first_name] != [] && "has-error" %>" style="width:300px">
            <%= label_tag :first_name, "First Name #{@customer.errors[:first_name].join(", ")}", class: "control-label" %>
            <%= text_field_tag "first_name", @customer.first_name, class: "form-control" %>
          </div>&nbsp;&nbsp;
          <div class="form-group <%= @customer.errors[:last_name] != [] && "has-error" %>" style="width:300px">
            <%= label_tag "last_name", "Last Name #{@customer.errors[:last_name].join(", ")}", class: "control-label" %>
            <%= text_field_tag "last_name", @customer.last_name, class: "form-control" %>
          </div>
        </div><br>
        <div class="form-group <%= @customer.errors[:address1] != [] && "has-error" %>" style="width:500px">
          <%= label_tag "address1", "Address 1 #{@customer.errors[:address1].join(", ")}", class: "control-label" %>
          <%= text_field_tag "address1", @customer.address1, class: "form-control" %>
        </div>
        <div class="form-group <%= @customer.errors[:address2] != [] && "has-error" %>" style="width:500px">
          <%= label_tag "address2", "Address 2 #{@customer.errors[:address2].join(", ")}", class: "control-label" %>
          <%= text_field_tag "address2", @customer.address2, class: "form-control" %>
        </div>
        <div class="form-inline">
          <div class="form-group <%= @customer.errors[:city] != [] && "has-error" %>" style="width:300px">
            <%= label_tag "city", "City #{@customer.errors[:city].join(", ")}", class: "control-label" %>
            <%= text_field_tag "city", @customer.city, class: "form-control" %>
          </div>&nbsp;&nbsp;
          <div class="form-group <%= @customer.errors[:state] != [] && "has-error" %>" style="width:200px">
            <%= label_tag "state", "State #{@customer.errors[:state].join(", ")}", class: "control-label" %>
            <%= select_tag "state", options_from_collection_for_select(
                  USState.order(:id), :abbreviation, :name, @customer.state),
                  prompt: "Choose a state...", class: "form-control" %>
          </div>&nbsp;&nbsp;
          <div class="form-group <%= @customer.errors[:zipcode] != [] && "has-error" %>" style="width:100px">
            <%= label_tag "zipcode", "Zip Code #{@customer.errors[:zipcode].join(", ")}", class: "control-label" %>
            <%= text_field_tag "zipcode", @customer.zipcode, class: "form-control" %>          
          </div>
        </div><br>
        <div class="form-inline">
          <div class="form-group <%= @customer.errors[:phone1] != [] && "has-error" %>" style="width:200px">
            <%= label_tag "phone1", "Phone 1 #{@customer.errors[:phone1].join(", ")}", class: "control-label" %>
            <%= text_field_tag "phone1", @customer.phone1, placeholder: "xxx-xxx-xxxx", class: "form-control" %>
          </div>&nbsp;&nbsp;
          <div class="form-group <%= @customer.errors[:phone2] != [] && "has-error" %>" style="width:200px">
            <%= label_tag "phone2", "Phone 2 #{@customer.errors[:phone2].join(", ")}", class: "control-label" %>
            <%= text_field_tag "phone2", @customer.phone2, placeholder: "xxx-xxx-xxxx", class: "form-control" %>
          </div>
        </div><br>
        <div class="form-group <%= @customer.errors[:email] != [] && "has-error" %>" style="width:400px">
          <%= label_tag "email", "Email #{@customer.errors[:email].join(", ")}", class: "control-label" %>
          <%= text_field_tag "email", @customer.email, class: "form-control" %>
        </div>
      </div>
        <%= submit_tag "Continue to Review", class:"btn go-button pull-right" %><br><br>
  </div>
  
  <% end %>

</div>
