<div class="container">
  <%= form_tag "/review" do %>
  
  <div class="pull-left left-box">
    <h4 style="text-align:center">Reservation Summary</h4>
    <hr>
    <% @reservation_items.each do |res_item| %>
        <% rental_type = res_item.rental_item.rental_type %>
        <%= render partial: "reservation_summary", locals: {rental_type: rental_type, res_item: res_item} %>
        <%= render partial: "rate_summary", locals: {rental_type: rental_type, res_item: res_item} %>
        <br>
        <%= button_tag "Details", name: "details_res_item_id", value: res_item.id, class:"btn-sm details-button" %>&nbsp;&nbsp;
        <%= button_tag "Change", name: "change_res_item_id", value: res_item.id, class:"btn-sm details-button" %>&nbsp;&nbsp;
        <%= button_tag "Cancel", name: "cancel_res_item_id", value: res_item.id, class:"btn-sm details-button" %>
        <hr>
    <% end %>
  </div>
  
  <div style="margin-left:300px" class="box">
    <h4 class="header-box">Guest Details</h4>
    <div  style="margin-left:30px">
      <p>
        <%= @customer.first_name %> <%= @customer.last_name %><br>
        <%= @customer.address1 %><br>
        <% if @customer.address2 != "" %><%= @customer.address2 %><br><% end %>
        <%= "#{@customer.city}, #{@customer.state}  #{@customer.zipcode}" %>
      </p>
      <p>
        Phone 1: <%= @customer.phone1 %><br>
        <% if @customer.phone2 != "" %><Phone 2: %= @customer.phone2 %><br><% end %>
        Email: <%= @customer.email %>
      </p>
      <br><br>
      <p>
      <%= submit_tag "Change Guest Details", class:"btn add-button"  %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= submit_tag "Confirm", class:"btn go-button pull-right" %>
      </p>
    <div>

  </div>
  
  <% end %>
</div>