<div class="container">
  <%= form_tag "/review" do %>
  
  <%= render partial: "reservation_summary", locals: { reservation_items: @reservation_items } %>

  <div class="pull-right" style="width:830px; margin:20px;">

    <h4 style="background:#C9BCAD; padding:15px; text-align:left;">Guest Details</h4>
    <p>
      <%= @customer.first_name %> <%= @customer.last_name %><br>
      <%= @customer.address1 %><br>
      <% if @customer.address2 != "" %><%= @customer.address2 %><br><% end %>
      <%= "#{@customer.city}, #{@customer.state}  #{@customer.zipcode}" %>
    </p>
    <p>
      Phone 1: <%= @customer.phone1 %><br>
      <% if @customer.phone2 != "" %><Phone 2: %= @customer.phone2 %><br><% end %>
      <br>
      Email: <%= @customer.email %>
    </p>
    <br><br>
    <p>
    <%= submit_tag "Confirm" %>
    </p>

  </div>
  
  <% end %>
</div>