<div class="container">

  <%= form_tag "/your_reservation" do %>

  <div class="pull-left left-box">

    <h4 style="text-align:center" class="header-box">Your Reservation</h4>
    <hr>
  
    <p><div class="form-group <%= @reservation_item.errors[:start_date] != [] && "has-error" %>">
        <%= label_tag :start_date, "Check in #{@reservation_item.errors[:start_date].join(", ")}", class: "control-label" %><br>
        <%= text_field_tag :start_date, @start_date, class: "datepicker form-control" %>
    </div></p>


    <% if @reservation_category == "Cabin" %>
      <p><div class="form-group <%= @reservation_item.errors[:end_date] != [] && "has-error" %>">
        <%= label_tag :end_date, "Check out #{@reservation_item.errors[:end_date].join(", ")}", class: "control-label" %><br>
        <%= text_field_tag :end_date, @end_date, class: "datepicker form-control" %>
        </div>
      </p>
      <p><b>Select a Cabin Type: </b></p>
      <p>
          <%= radio_button_tag "reservation_subcategory", "Land", @reservation_subcategory == "Land" %>&nbsp;
          <%= label_tag "reservation_subcategory_land", "Land Cabin" %><br>
          <%= radio_button_tag "reservation_subcategory", "Floating", @reservation_subcategory == "Floating" %> &nbsp;
          <%= label_tag "reservation_subcategory_floating", "Floating Cabin" %>
      </p>
    <% elsif @reservation_category == "Boat" %>
        <p>
          <%= label_tag "num_of_days", "Number of days" %>
          <%= select_tag "num_of_days", options_for_select([1,2,3,4,5,6,7,8,9,10], @reservation_item.num_of_days) %>
        </p>
        <p><b>Select a Boat Type:</b></p>
        <p>
            <%= radio_button_tag "reservation_subcategory", "Deck", @reservation_subcategory == "Deck" %>&nbsp;
            <%= label_tag "reservation_subcategory_deck", "Deck Boat" %><br>
            <%= radio_button_tag "reservation_subcategory", "Pontoon", @reservation_subcategory == "Pontoon" %>&nbsp;
            <%= label_tag "reservation_subcategory_pontoon", "Pontoon Boat" %><br>
            <%= radio_button_tag "reservation_subcategory", "Double Decker Pontoon", @reservation_subcategory == "Double Decker Pontoon" %>&nbsp;
            <%= label_tag "reservation_subcategory_dblpontoon", "Double Decker Pontoon" %>
        </p>
    <% elsif @reservation_category == "Boat Slip" %>
        <p><div class="form-group <%= @reservation_item.errors[:end_date] != [] && "has-error" %>">
          <%= label_tag :end_date, "Check-out #{@reservation_item.errors[:end_date].join(", ")}", class: "control-label" %><br>
          <%= text_field_tag :end_date, @reservation_item.end_date, class: "datepicker form-control" %>
          </div>
        </p>

        <p><b>Select a boat slip type:</b></p>
        <p>
            <%= radio_button_tag "reservation_subcategory", "Covered", @reservation_subcategory == "Covered" %>&nbsp;
            <%= label_tag "reservation_subcategory_covered", "Covered" %><br>
            <%= radio_button_tag "reservation_subcategory", "Uncovered", @reservation_subcategory == "Uncovered" %>&nbsp;
            <%= label_tag "reservation_subcategory_uncovered", "Uncovered" %><br>
        </p>      
    <% end %>
    
    <% if @reservation_category == "Boat Slip" %>
      Add vessel dimension entry here
    
    <% else %>
        <p>
            <%= label_tag "adults", "Adults" %>
            <%= select_tag "adults", options_for_select([1,2,3,4,5,6,7,8,9,10], @reservation_item.adults), prompt: "1" %><br>
        </p>
        <p>
            <%= label_tag "children", "Children under 18" %>
            <%= select_tag "children", options_for_select([0,1,2,3,4,5,6,7,8,9,10], @reservation_item.children), prompt: "0" %><br>
        </p>
        <p> 
            <%= label_tag "pets", "Pets" %>
            <%= select_tag "pets", options_for_select([0,1,2,3], @reservation_item.pets), prompt: "0" %>
        </p>

      <p><%= submit_tag "Check Availability", class:"btn-sm go-button" %></p>
      <% if session[:reservation_id] != nil %>
        <% if Reservation.find(session[:reservation_id]).reservation_items.first.rental_item_id != nil %>
            <p><%= submit_tag "Back to Reservation Summary", class:"btn-sm details-button" %></p>
        <% end %>
      <% end %>

    <% end %>
    
  </div>

  <div style="padding:20px; margin:20px 20px 20px 280px" class="box">
    
    <% if @available_rental_types != nil %>

      <table class="table">    
        <% @available_rental_types.each do |rental_type, rental_item_ids| %>
            <tr>
              <td>
                <%= image_tag rental_type.image_filename, {width: 220} %><br><br>
                <!--<%= submit_tag "More Photos", class:"btn details-button" %>-->
              </td>

              <td>
                <% if @reservation_category == "Cabin" %>
                    <h4><%= "#{rental_type.num_bedrooms} Bedroom #{rental_type.subcategory} Cabins"  %></h4>                  
                    <p>
                      <b>No. Baths: </b> <%= rental_type.num_baths %><br> 
                      <b>Max Occupancy:</b> <%= rental_type.max_occupancy %> &nbsp;&nbsp;&nbsp;&nbsp; 
                    </p>
                <% elsif @reservation_category == "Boat" %>
                    <h4><%= "#{rental_type.subcategory} Boats" %></h4>
                    <p>
                      <b>Max Occupancy:</b> <%= rental_type.max_occupancy %> 
                    </p>
                <% elsif @reservation_category == "Boat Slip" %>
                    <h4>Boat Slip</h4>
                    <p>
                      <b>Max Length: </b> <%= rental_type.length %> &nbsp;&nbsp;&nbsp;&nbsp;
                      <b>Max Width: </b> <%= rental_type.width %> &nbsp;&nbsp;&nbsp;&nbsp; 
                      <b>Max Height: </b> <%= rental_type.height %>
                    </p>
                <% end %>
                <p>
                  <%= rental_type.description %>
                </p>
                <p>
                  <b><%= "#{rental_item_ids.length} available" %></b>
                </p>
              </td>

              <td style="width:250px;">
                <p>
                  <%= render partial: "rate_summary", locals: {rental_type: rental_type, res_item: @reservation_item} %>
                </p>
                <p>
                  <%= button_tag "Reserve", name: "rental_item_id", value: rental_item_ids.first, class: "btn go-button pull-right" %>
                </p>
              </td>
            </tr>
        <% end %>
      </table>
  
    <% end %><!-- if available rental types -->
          
    </div>
    
  
  <% end %> <!-- form tag -->
</div><!-- container -->



