<div class="container">

  <%= form_tag "/your_reservation" do %>

  <%= render partial: "search_reservation", 
          locals: {reservation_category: @reservation_category, reservation_item: @reservation_item} %>
    
  <div style="padding:20px; margin:20px 20px 20px 280px" class="box">

    <% if @message != nil %>
      <%= @message %>
    <% end %>
    
    <% if @available_rental_types != nil %>

      <table class="table">    
        <% @available_rental_types.each do |rental_type, rental_item_ids| %>
            <tr>
              <td>
                <%= image_tag rental_type.image_filename, {width: 220} %><br><br>
                <!--<%= submit_tag "More Photos", class:"btn details-button" %>-->
              </td>

              <td>
                <% if @reservation_category == "Cabin" %>
                    <h4><%= "#{rental_type.num_bedrooms} Bedroom #{rental_type.subcategory} Cabins"  %></h4>                  
                    <p>
                      <b>No. Baths: </b> <%= rental_type.num_baths %><br> 
                      <b>Max Occupancy:</b> <%= rental_type.max_occupancy %> &nbsp;&nbsp;&nbsp;&nbsp; 
                    </p>
                <% elsif @reservation_category == "Boat" %>
                    <h4><%= "#{rental_type.subcategory} Boats" %></h4>
                    <p>
                      <b>Max Occupancy:</b> <%= rental_type.max_occupancy %> 
                    </p>
                <% elsif @reservation_category == "Boat Slip" %>
                    <h4>Boat Slip</h4>
                    <p>
                      <b>Max Length: </b> <%= rental_type.length %> &nbsp;&nbsp;&nbsp;&nbsp;
                      <b>Max Width: </b> <%= rental_type.width %> &nbsp;&nbsp;&nbsp;&nbsp; 
                      <b>Max Height: </b> <%= rental_type.height %>
                    </p>
                <% end %>
                <p>
                  <%= rental_type.description %>
                </p>
                <p>
                  <b><%= "#{rental_item_ids.length} available" %></b>
                </p>
              </td>

              <td style="width:250px;">
                <p>
                  <%= render partial: "rate_summary", locals: {rental_type: rental_type, res_item: @reservation_item} %>
                </p>
                <p>
                  <%= button_tag "Reserve", name: "rental_item_id", value: rental_item_ids.first, class: "btn go-button pull-right" %>
                </p>
              </td>
            </tr>
        <% end %>
      </table>
  
    <% end %><!-- if available rental types -->
          
    </div>
    
  
  <% end %> <!-- form tag -->
</div><!-- container -->



