<div style="text-align:left; padding:0px 100px 0px 100px; width:500px;">

  <form class="form-horizontal" role="form">  
    <p>
      <div class="form-group <%= @customer.errors[:title] != [] && "has-error" %>">
        <%= label_tag :title, "Title #{@customer.errors[:title].join(", ")}", class: "control-label" %>
        <%= select_tag "title", options_for_select(["Ms.", "Mr.", "Mrs.", "Dr."], @customer.title), class: "form-control" %>
      </div>
    </p>
    <p>
      <div class="form-group <%= @customer.errors[:first_name] != [] && "has-error" %>">
        <%= label_tag :first_name, "First Name #{@customer.errors[:first_name].join(", ")}", class: "control-label" %>
        <%= text_field_tag "first_name", @customer.first_name, class: "form-control" %>
      </div>
    </p>
    <p>
      <div class="form-group <%= @customer.errors[:last_name] != [] && "has-error" %>">
        <%= label_tag "last_name", "Last Name #{@customer.errors[:last_name].join(", ")}", class: "control-label" %>
        <%= text_field_tag "last_name", @customer.last_name, class: "form-control" %>
      </div>
    </p>
    <p>
      <div class="form-group <%= @customer.errors[:address1] != [] && "has-error" %>">
        <%= label_tag "address1", "Address 1 #{@customer.errors[:address1].join(", ")}", class: "control-label" %>
        <%= text_field_tag "address1", @customer.address1, class: "form-control" %>
      </div>
    </p>
    <p>
      <div class="form-group <%= @customer.errors[:address2] != [] && "has-error" %>">
      <%= label_tag "address2", "Address 2 #{@customer.errors[:address2].join(", ")}", class: "control-label" %>
      <%= text_field_tag "address2", @customer.address2, class: "form-control" %>
      </div>
    </p>
    <p>
      <div class="form-group <%= @customer.errors[:city] != [] && "has-error" %>">
      <%= label_tag "city", "City #{@customer.errors[:city].join(", ")}", class: "control-label" %>
      <%= text_field_tag "city", @customer.city, class: "form-control" %>
      </div>
    </p>
    <p>
      <div class="form-group <%= @customer.errors[:state] != [] && "has-error" %>">
      <%= label_tag "state", "State #{@customer.errors[:state].join(", ")}", class: "control-label" %>
      <%= select_tag "state", options_from_collection_for_select(
          USState.order(:id), :abbreviation, :name, @customer.state),
          prompt: "Choose a state...", class: "form-control" %>
      </div>
    </p>
    <p>
      <div class="form-group <%= @customer.errors[:zipcode] != [] && "has-error" %>">
      <%= label_tag "zipcode", "Zip Code #{@customer.errors[:zipcode].join(", ")}", class: "control-label" %>
      <%= text_field_tag "zipcode", @customer.zipcode, class: "form-control" %>
      </div>
    </p>
    <p>
      <div class="form-group <%= @customer.errors[:phone1] != [] && "has-error" %>">
      <%= label_tag "phone1", "Phone 1 #{@customer.errors[:phone1].join(", ")}", class: "control-label" %>
      <%= text_field_tag "phone1", @customer.phone1, class: "form-control" %>
      </div>
    </p>
    <p>
      <div class="form-group <%= @customer.errors[:phone2] != [] && "has-error" %>">
      <%= label_tag "phone2", "Phone 2 #{@customer.errors[:phone2].join(", ")}", class: "control-label" %>
      <%= text_field_tag "phone2", @customer.phone2, class: "form-control" %>
      </div>
    </p>
    <p>
      <div class="form-group <%= @customer.errors[:email] != [] && "has-error" %>">
      <%= label_tag "email", "Email #{@customer.errors[:email].join(", ")}", class: "control-label" %>
      <%= text_field_tag "email", @customer.email, class: "form-control" %>
      </div>
    </p>
  </form>
  
</div>
