<div class="container">
<div class="admin-box">


  <h3> Manage Customers </h3>
    <table class="table table-bordered">
      <tr class="success">
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </td>
      <% @customers.order(:last_name).each do |c| %>
        <tr style="font-weight:normal">
          <td><%= c.last_name %>, <%= c.title %><%= c.first_name %></td>
          <td><%= c.address1 %><br>
              <%= c.city %>, <%= c.state %>&nbsp;&nbsp;<%= c.zipcode %></td>
          <td><%= c.phone1 %><br><%= c.phone2 %></td>
          <td><%= c.email %></td>
          <td><p> 
              <%= link_to "View Reservations", "/customer/#{c.id}/reservations", class: "btn-sm details-button" %>
              &nbsp;&nbsp;
              <a type="button" class="btn-sm go-button" href="/customer/<%= "#{c.id}" %>/edit">Edit Customer</a>
              &nbsp;&nbsp;
              <%= link_to "Delete Customer", "/customer/#{c.id}/delete", data: { confirm: 'Are you sure?' }, class: "btn-sm stop-button" %>
              </p>          
          </td>
        </tr>
      <% end %>
    </table>
    <br>
    <a type="button" class="btn go-button" href="/customer/new">Add New Customer</a>


</div>
</div>