<div class="admin-box">

<h3>Manage <%= "#{@category}" %> Rentals</h3>
  
  <table class="table table-bordered">
    <tr style="text-align:center" class="success">
      <th>Subcategory</th>
      <% if @category == "Cabin" %>
        <th>Bdrms</th>
        <th>Baths</th>
      <% end %>
      <th>Max<br>Occ</th>
      <th style="width:400px">Description</th>
      <th>Weekday<br>Rate</th>
      <th>Weekend<br>Rate</th>
      <th></th>
    </tr>
      
    <% RentalType.where(category: @category).order(:subcategory, :max_occupancy).each do |r| %>

      <tr style="font-weight:normal; text-align:center">
        <td><%= r.subcategory %></td>
        <% if @category == "Cabin" %>
          <td><%= r.num_bedrooms %></td>
          <td><%= r.num_baths %></td>
        <% end %>
        <td><%= r.max_occupancy %></td>
        <td style="width:400px; text-align:left"><%= r.description %></td>
        <td><%= "$#{sprintf('%.2f', r.weekday_rate)}" %></td>
        <td><%= "$#{sprintf('%.2f', r.weekend_rate)}" %></td>
        <td style="text-align:left">
          <p><a type="button" class="btn-sm details-button" href="/rentalitems_index/<%= "#{r.id}" %>">View Rental Items</a></p>
          <p><a type="button" class="btn-sm go-button" href="/<%= "#{@category}" %>/<%= "#{r.id}" %>/edit" %>Edit <%= "#{@category}" %></a></p>
          <p><%= link_to "Delete", "/#{@category}/#{r.id}/delete", data: { confirm: 'Are you sure?' }, class: "btn-sm stop-button" %>
        </td>
      </tr>

    <% end %>
  </table>
  <a type="button" class="btn go-button" href="/<%= "#{@category}" %>/new">Add New <%= "#{@category}" %> Rental</a>
  
</div>
